$color-grey-1 = #1f2428
$color-grey-2 = #505b62
$color-grey-3 = #818e96
$color-grey-4 = #b6c0c4
$color-grey-5 = #dee2e5
$color-grey-6 = #f5f6f7


$color-red = #f56653
$color-dark-red = #c75344
$color-light-red = #faa399

$color-blue = #6cc4dc
$color-dark-blue = #3d6fa5

$color-yellow = #fdc840

$color-green = #00aa89

$color-purple = #8a1798
